<!-- Start Page Title -->
<div class="page-title-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <h2>{{ "Contact Us" | translate }}</h2>
      </div>
    </div>
  </div>

  <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
  <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
  <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
  <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
  <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Contact Info Area -->
<div class="contact-info-area ptb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="contact-info-box">
          <div class="icon">
            <i data-feather="mail"></i>
          </div>
          <h3>{{ "Mail here" | translate }}</h3>
          <p>
            <a href="#">
              <span class="__cf_email__">
                contact@dma.com
              </span>
            </a>
          </p>
          <p>
            <a href="#">
              <span class="__cf_email__">
                contact@dma.com
              </span>
            </a>
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="contact-info-box">
          <div class="icon">
            <i data-feather="map-pin"></i>
          </div>
          <h3>{{ "Visit here" | translate }}</h3>
          <p>{{ "site.address" | translate }}</p>
          <!-- <p>Rue Laborex, Akwa, Douala, Cameroun</p> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
        <div class="contact-info-box">
          <div class="icon">
            <i data-feather="phone"></i>
          </div>
          <h3>{{ "Call here" | translate }}</h3>
          <p><a href="#">(+237) 690 26 32 12</a></p>
          <p><a href="#">(+237) 672 24 34 91</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact Info Area -->

<!-- Map -->
<div id="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1989.9216508830443!2d9.700599738321506!3d4.05236401854005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1061126004ffb3a9%3A0xe4e00c8896b1ccbb!2s1394%20Rue%20du%20Pasteur%20Lottin%20Sam%C3%A9%2C%20Douala!5e0!3m2!1sfr!2scm!4v1645410832136!5m2!1sfr!2scm" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<!-- Start Contact Area -->
<div class="contact-area ptb-80">
  <div class="container">
    <div class="section-title">
      <h2>{{ "Contact Us" | translate }}</h2>
      <div class="bar"></div>
      <p>{{ "Anything On your Mind. We’ll Be Glad To Assist You!" | translate }}</p>
    </div>

    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-6 col-md-12">
        <img src="assets/img/1.png" alt="image">
      </div>

      <div class="col-lg-6 col-md-12">
        <form id="contactForm">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <input type="text" name="name" id="name" class="form-control" required
                  attr.data-error="{{ 'Please enter your name' | translate }}" [placeholder]="'Name' | translate">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" required
                  attr.data-error="{{ 'Please enter your email' | translate }}" [placeholder]="'Email' | translate">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-lg-12 col-md-6">
              <div class="form-group">
                <input type="text" name="phone_number" id="phone_number" required
                  attr.data-error="{{ 'Please enter your number' | translate }}"
                  class="form-control" [placeholder]="'Phone' | translate">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-lg-12 col-md-6">
              <div class="form-group">
                <input type="text" name="msg_subject" id="msg_subject" class="form-control" required
                  attr.data-error="{{ 'Please enter your subject' | translate }}" [placeholder]="'Subject' | translate">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <textarea name="message" class="form-control" id="message" cols="30" rows="5" required
                  attr.data-error="{{ 'Write your message' | translate }}" [placeholder]="'Your Message' | translate"></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12">
              <button type="submit" class="btn btn-primary">
                {{ "Send Message" | translate }}
              </button>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Contact Area -->
