<!-- Start 404 Error Area -->
<div class="error-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="error-content">
          <div class="notfound-404">
            <h1>Oops!</h1>
          </div>
          <h3>404 - {{ "Page not found" | translate }}</h3>
          <p>
            {{ "site.not-found" | translate }}
          </p>
          <a [routerLink]="['/home']" class="btn btn-primary">{{ "Go to Homepage" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End 404 Error Area -->
