<!-- Start Preloader Area -->
<div class="preloader">
  <div class="spinner"></div>
</div>
<!-- End Preloader Area -->

<!-- Start Navbar Area -->
<header id="header" class="headroom">
  <div class="startp-responsive-nav">
    <div class="container">
      <div class="startp-responsive-menu">
        <div class="logo">
          <a [routerLink]="['/home']">
            <img src="assets/img/logo.png" alt="logo">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="startp-nav">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" [routerLink]="['/home']">
          <img src="assets/img/logo.png" alt="logo">
        </a>

        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav nav ml-auto">
            <li class="nav-item">
              <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">{{ 'Home' | translate|awt }}</a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/about']" routerLinkActive="active"  class="nav-link">{{ 'About' | translate|awt }}</a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/services']" routerLinkActive="active" class="nav-link">{{ 'Services' | translate|awt }}</a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/formations']" routerLinkActive="active" class="nav-link">{{ 'Formations' | translate|awt }}</a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/blogs']" routerLinkActive="active" class="nav-link">{{ 'Blogs' | translate|awt }}</a>
            </li>
          </ul>
        </div>

        <div class="others-option">
          <img [src]="'/assets/img/lang/'+lang+'.png'" height="14px">
          <select class="pointer pe-1 me-2 border-0" #langInput (change)="changeLang(langInput.value)">
            <option value="fr" [selected]="lang=='fr'">FR</option>
            <option value="en" [selected]="lang=='en'">EN</option>
          </select>
          <a [routerLink]="['/contact']" class="btn btn-primary">{{ 'Contact' | translate|awt }}</a>
        </div>
      </nav>
    </div>
  </div>

  <!-- <div class="others-option-for-responsive">
    <div class="container">
      <div class="dot-menu">
        <div class="inner">
          <div class="circle circle-one"></div>
          <div class="circle circle-two"></div>
          <div class="circle circle-three"></div>
        </div>
      </div>

      <div class="container">
        <div class="option-inner">
          <div class="others-option">
            <img [src]="'/assets/img/lang/'+lang+'.png'" height="14px">
            <select class="pointer pe-1 me-2 border-0" #lang (change)="changeLang(lang.value)">
              <option value="fr">FR</option>
              <option value="en">EN</option>
            </select>
            <a [routerLink]="['/contact']"class="btn btn-primary">{{ 'Contact' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</header>
<!-- End Navbar Area -->

<router-outlet></router-outlet>

<!-- Start Repair Partner Area -->
<div class="repair-partner-area bg-f9fafb">
  <div class="container">
    <div class="partner-slides owl-carousel owl-theme">
      <div class="single-repair-partner">
        <a href="#">
          <img src="assets/img/partner-img/partner-1.png" alt="image">
          <img src="assets/img/partner-img/partner-hover1.png" alt="image">
        </a>
      </div>

      <div class="single-repair-partner">
        <a href="#">
          <img src="assets/img/partner-img/partner-2.png" alt="image">
          <img src="assets/img/partner-img/partner-hover2.png" alt="image">
        </a>
      </div>

      <div class="single-repair-partner">
        <a href="#">
          <img src="assets/img/partner-img/partner-3.png" alt="image">
          <img src="assets/img/partner-img/partner-hover3.png" alt="image">
        </a>
      </div>

      <div class="single-repair-partner">
        <a href="#">
          <img src="assets/img/partner-img/partner-10.png" alt="image">
          <img src="assets/img/partner-img/partner-hover10.png" alt="image">
        </a>
      </div>

      <div class="single-repair-partner">
        <a href="#">
          <img src="assets/img/partner-img/partner-5.png" alt="image">
          <img src="assets/img/partner-img/partner-hover5.png" alt="image">
        </a>
      </div>

      <div class="single-repair-partner">
        <a href="#">
          <img src="assets/img/partner-img/partner-6.png" alt="image">
          <img src="assets/img/partner-img/partner-hover6.png" alt="image">
        </a>
      </div>

      <div class="single-repair-partner">
        <a href="#">
          <img src="assets/img/partner-img/partner-7.png" alt="image">
          <img src="assets/img/partner-img/partner-hover7.png" alt="image">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Repair Partner Area -->

<!-- Start Footer Area -->
<footer class="footer-area bg-f7fafd">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <div class="logo">
            <a routerLink="home">
              <img src="assets/img/logo.png" alt="logo">
            </a>
          </div>
          <p>
            {{ 'site.description' | translate }}
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget pl-5">
          <h3>{{ 'Company' | translate }}</h3>
          <ul class="list">
            <li><a routerLink="/about">{{ 'About Us' | translate }}</a></li>
            <li><a routerLink="/services">{{ 'Services' | translate }}</a></li>
            <li><a routerLink="/formations">{{ "Formations" | translate }}</a></li>
            <li><a routerLink="/blogs">{{ 'Latest News' | translate }}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h3>{{ 'Support' | translate }}</h3>
          <ul class="list">
            <li><a routerLink="/faq">{{ 'FAQ' | translate }}</a></li>
            <li><a routerLink="/privacy-policy">{{ 'Privacy Policy' | translate }}</a></li>
            <li><a routerLink="/terms-conditions">{{ 'Terms & Condition' | translate }}</a></li>
            <li><a routerLink="/contact">{{ 'Contact Us' | translate }}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h3>{{ 'Address' | translate }}</h3>

          <ul class="footer-contact-info">
            <li>
              <i data-feather="map-pin"></i>
              {{ 'site.address' | translate }}
            </li>
            <li>
              <i data-feather="mail"></i>
              {{ 'Email' | translate }}:
              <a href="mailto:dma@gmail.com">
                <span class="__cf_email__">contact@dma.com</span>
              </a>
            </li>
            <li>
              <i data-feather="phone-call"></i>
              {{ 'Phone' | translate }}: <a href="tel:+237690263212">(+237) 690 26 32 12</a>
            </li>
          </ul>

          <ul class="social-links">
            <li>
              <a href="#" class="facebook" target="_blank">
                <i data-feather="facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="twitter" target="_blank">
                <i data-feather="twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="instagram" target="_blank">
                <i data-feather="instagram"></i>
              </a>
            </li>
            <li>
              <a href="#" class="linkedin" target="_blank">
                <i data-feather="linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="copyright-area">
          <p>
            {{ 'site.copyright' | translate }}.
          </p>
        </div>
      </div>
    </div>
  </div>

  <img src="assets/img/map.png" class="map" alt="map">
  <div class="shape1">
    <img src="assets/img/shape1.png" alt="shape">
  </div>
  <div class="shape8 rotateme">
    <img src="assets/img/shape2.svg" alt="shape">
  </div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i data-feather="arrow-up"></i></div>
