
<!-- Start Main Banner -->
<div class="main-banner">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-lg-5">
            <div class="hero-content">
              <h1>Secure IT Solutions for a more secure environment</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
              </p>

              <a [routerLink]="['/contact']" class="btn btn-primary">{{ 'Contact Us' }}</a>
            </div>
          </div>

          <div class="col-lg-6 offset-lg-1">
            <div class="banner-image">
              <img src="assets/img/banner-image/man.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="man">
              <img src="assets/img/banner-image/code.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="code">
              <img src="assets/img/banner-image/carpet.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="carpet">
              <img src="assets/img/banner-image/bin.png" class="wow zoomIn" data-wow-delay="0.6s" alt="bin">
              <img src="assets/img/banner-image/book.png" class="wow bounceIn" data-wow-delay="0.6s" alt="book">
              <img src="assets/img/banner-image/dekstop.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="dekstop">
              <img src="assets/img/banner-image/dot.png" class="wow zoomIn" data-wow-delay="0.6s" alt="dot">
              <img src="assets/img/banner-image/flower-top-big.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="flower-top-big">
              <img src="assets/img/banner-image/flower-top.png" class="wow rotateIn" data-wow-delay="0.6s" alt="flower-top">
              <img src="assets/img/banner-image/keyboard.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="keyboard">
              <img src="assets/img/banner-image/pen.png" class="wow zoomIn" data-wow-delay="0.6s" alt="pen">
              <img src="assets/img/banner-image/table.png" class="wow zoomIn" data-wow-delay="0.6s" alt="table">
              <img src="assets/img/banner-image/tea-cup.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="tea-cup">
              <img src="assets/img/banner-image/headphone.png" class="wow rollIn" data-wow-delay="0.6s" alt="headphone">

              <img src="assets/img/banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="main-pic">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
  <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
  <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
  <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
  <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Main Banner -->

<!-- Start Repair About Area -->
<div class="repair-about-area ptb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="repair-about-content">
          <span class="sub-title">{{ 'About Us' | translate }}</span>
          <h2>We have 35 years of experience in repair services</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <ul>
            <li><span><i data-feather="check"></i> Experienced Professionals</span></li>
            <li><span><i data-feather="check"></i> Expert Technical Skills</span></li>
            <li><span><i data-feather="check"></i> Excellent Reputation</span></li>
            <li><span><i data-feather="check"></i> Friendly Service</span></li>
            <li><span><i data-feather="check"></i> Trustworthy See Reviews</span></li>
            <li><span><i data-feather="check"></i> Affordable Diagnosis</span></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="repair-about-image">
          <img src="assets/img/about1.jpg" class="wow fadeInDown" alt="image">
          <img src="assets/img/about2.jpg" class="wow zoomIn" alt="image">
          <img src="assets/img/about3.jpg" class="wow fadeInUp" alt="image">
          <img src="assets/img/about-shape1.png" alt="image">
          <img src="assets/img/about-shape2.png" alt="image">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Repair About Area -->

<!-- Start ML Services Area -->
<div class="ml-services-area ptb-80">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Our Solutions</span>
      <h2>Our Services</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="single-ml-services-box">
              <div class="image">
                  <img src="assets/img/services-image/1.png" alt="image">
              </div>
              <h3><a href="single-services.html">IT Professionals</a></h3>
              <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="single-ml-services-box">
              <div class="image">
                  <img src="assets/img/services-image/2.png" alt="image">
              </div>
              <h3><a href="single-services.html">Software Engineers</a></h3>
              <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="single-ml-services-box">
              <div class="image">
                  <img src="assets/img/services-image/3.png" alt="image">
              </div>
              <h3><a href="#">Health & Manufacturing</a></h3>
              <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="single-ml-services-box">
              <div class="image">
                  <img src="assets/img/services-image/4.png" alt="image">
              </div>
              <h3><a href="#">Security & Surveillance</a></h3>
              <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="single-ml-services-box">
              <div class="image">
                  <img src="assets/img/services-image/5.png" alt="image">
              </div>
              <h3><a href="#">Automatic Optimization</a></h3>
              <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="single-ml-services-box">
              <div class="image">
                  <img src="assets/img/services-image/6.png" alt="image">
              </div>
              <h3><a href="single-services.html">Data Analysts</a></h3>
              <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          </div>
      </div>
    </div>
  </div>

  <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
  <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
  <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
  <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End ML Services Area -->

<!-- Start Repair CTA Area -->
<div class="repair-cta-area bg-0f054b">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="cta-repair-content">
          <h3>We'll help you get back to work</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
          <a href="contact.html" class="btn btn-primary">Contact Us</a>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="cta-repair-img">
          <img src="assets/img/man-and-women.png" alt="image">
        </div>
      </div>
    </div>
  </div>

  <div class="circle-box"><img src="assets/img/circle.png" alt="image"></div>
  <div class="cta-shape"><img src="assets/img/cta-shape.png" alt="image"></div>
</div>
<!-- End Repair CTA Area -->

<!-- Start Fun Facts Area -->
<div class="funfacts-area ptb-80">
  <div class="container">
    <div class="section-title">
      <h2>We always try to understand users expectation</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-6 col-sm-3">
        <div class="funfact">
          <h3><span class="odometer" data-count="180">00</span>K</h3>
          <p>Downloaded</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-6 col-sm-3">
        <div class="funfact">
          <h3><span class="odometer" data-count="20">00</span>K</h3>
          <p>Feedback</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-6 col-sm-3">
        <div class="funfact">
          <h3><span class="odometer" data-count="500">00</span>+</h3>
          <p>Workers</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-6 col-sm-3">
        <div class="funfact">
          <h3><span class="odometer" data-count="70">00</span>+</h3>
          <p>Contributors</p>
        </div>
      </div>
    </div>

    <div class="contact-cta-box">
      <h3>Vous avez une question à propos de nous?</h3>
      <p>N'hésitez à nous poser maintenant </p>
      <a routerLink="contact" class="btn btn-primary">Contacter</a>
    </div>

    <div class="map-bg">
      <img src="assets/img/map.png" alt="map">
    </div>
  </div>
</div>
<!-- End Fun Facts Area -->

<!-- Start Team Area -->
<div class="team-area repair-team-area ptb-80 bg-f9f6f6">
  <div class="container">
    <div class="section-title">
      <h2>Our Awesome Team</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/repair-team-image/1.jpg" alt="image">
          </div>

          <div class="team-content">
            <div class="team-info">
              <h3>Josh Buttler</h3>
              <span>CEO & Founder</span>
            </div>

            <ul>
              <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
            </ul>

            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/repair-team-image/2.jpg" alt="image">
          </div>

          <div class="team-content">
            <div class="team-info">
              <h3>Alex Maxwel</h3>
              <span>Marketing Manager</span>
            </div>

            <ul>
              <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
            </ul>

            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/repair-team-image/3.jpg" alt="image">
          </div>

          <div class="team-content">
            <div class="team-info">
              <h3>Janny Cotller</h3>
              <span>Web Developer</span>
            </div>

            <ul>
              <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
            </ul>

            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/repair-team-image/4.jpg" alt="image">
          </div>

          <div class="team-content">
            <div class="team-info">
              <h3>Jason Statham</h3>
              <span>UX/UI Designer</span>
            </div>

            <ul>
              <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
              <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
            </ul>

            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Team Area -->

<!-- Start Repair Why Choose Us Area -->
<div class="repair-why-choose-us ptb-80 pb-0">
  <div class="container">
    <div class="section-title">
      <h2>Why We Are Best From Others</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-repair-box">
          <div class="icon">
            <i class="flaticon-handshake"></i>
          </div>
          <h3>Quick Repair Process</h3>
          <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          <a href="#"><i data-feather="arrow-right"></i></a>

          <div class="back-icon">
            <i class="flaticon-handshake"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-repair-box">
          <div class="icon">
            <i class="flaticon-repair"></i>
          </div>
          <h3>Free Diagnostics</h3>
          <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          <a href="#"><i data-feather="arrow-right"></i></a>

          <div class="back-icon">
            <i class="flaticon-repair"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
        <div class="single-repair-box">
          <div class="icon">
            <i class="flaticon-delivery-truck"></i>
          </div>
          <h3>Fast Delivery</h3>
          <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
          <a href="#"><i data-feather="arrow-right"></i></a>

          <div class="back-icon">
            <i class="flaticon-delivery-truck"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Repair Why Choose Us Area -->

<!-- Start Works Area -->
<div class="works-area ptb-80 bg-f7fafd">
  <div class="container">
    <div class="section-title">
      <h2>Our Recent Works</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div class="container">
    <div class="works-slides owl-carousel owl-theme">
      <div class="single-works">
        <img src="assets/img/works-image/1.jpg" alt="image">

        <a href="#" class="icon"><i data-feather="settings"></i></a>

        <div class="works-content">
          <h3><a href="#">Incredible infrastructure</a></h3>
          <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
        </div>
      </div>

      <div class="single-works">
        <img src="assets/img/works-image/2.jpg" alt="image">

        <a href="#" class="icon"><i data-feather="settings"></i></a>

        <div class="works-content">
          <h3><a href="#">Incredible infrastructure</a></h3>
          <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
        </div>
      </div>

      <div class="single-works">
        <img src="assets/img/works-image/3.jpg" alt="image">

        <a href="#" class="icon"><i data-feather="settings"></i></a>

        <div class="works-content">
          <h3><a href="#">Incredible infrastructure</a></h3>
          <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
        </div>
      </div>

      <div class="single-works">
        <img src="assets/img/works-image/4.jpg" alt="image">

        <a href="#" class="icon"><i data-feather="settings"></i></a>

        <div class="works-content">
          <h3><a href="#">Incredible infrastructure</a></h3>
          <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
        </div>
      </div>

      <div class="single-works">
        <img src="assets/img/works-image/5.jpg" alt="image">

        <a href="#" class="icon"><i data-feather="settings"></i></a>

        <div class="works-content">
          <h3><a href="#">Incredible infrastructure</a></h3>
          <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
  <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
  <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
  <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
</div>
<!-- End Works Area -->

<!-- Start Blog Area -->
<div class="blog-area ptb-80">
  <div class="container">
    <div class="section-title">
      <h2>The News from Our Blog</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-post">
          <div class="blog-image">
            <a href="single-blog.html">
              <img src="assets/img/blog-image/1.jpg" alt="image">
            </a>

            <div class="date">
              <i data-feather="calendar"></i> March 15, 2019
            </div>
          </div>

          <div class="blog-post-content">
            <h3><a href="single-blog.html">The security risks of changing package owners</a></h3>

            <span>by <a href="#">admin</a></span>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

            <a href="#" class="read-more-btn">Read More <i data-feather="arrow-right"></i> </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-blog-post">
          <div class="blog-image">
            <a href="single-blog.html">
              <img src="assets/img/blog-image/2.jpg" alt="image">
            </a>

            <div class="date">
              <i data-feather="calendar"></i> March 17, 2019
            </div>
          </div>

          <div class="blog-post-content">
            <h3><a href="single-blog.html">Tips to Protecting Your Business and Family</a></h3>

            <span>by <a href="#">smith</a></span>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

            <a href="#" class="read-more-btn">Read More <i data-feather="arrow-right"></i> </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="single-blog-post">
          <div class="blog-image">
            <a href="single-blog.html">
              <img src="assets/img/blog-image/3.jpg" alt="image">
            </a>

            <div class="date">
              <i data-feather="calendar"></i> March 19, 2019
            </div>
          </div>

          <div class="blog-post-content">
            <h3><a href="single-blog.html">Protect Your Workplace from Cyber Attacks</a></h3>

            <span>by <a href="#">john</a></span>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

            <a href="#" class="read-more-btn">Read More <i data-feather="arrow-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Blog Area -->

<!-- Start Repair Partner Area -->
<div class="repair-partner-area bg-f9fafb">
  <div class="container">
      <div class="partner-slides owl-carousel owl-theme">
        <div class="single-repair-partner">
          <a href="#">
            <img src="assets/img/partner-img/partner-1.png" alt="image">
            <img src="assets/img/partner-img/partner-hover1.png" alt="image">
          </a>
        </div>

        <div class="single-repair-partner">
          <a href="#">
            <img src="assets/img/partner-img/partner-2.png" alt="image">
            <img src="assets/img/partner-img/partner-hover2.png" alt="image">
          </a>
        </div>

        <div class="single-repair-partner">
          <a href="#">
            <img src="assets/img/partner-img/partner-3.png" alt="image">
            <img src="assets/img/partner-img/partner-hover3.png" alt="image">
          </a>
        </div>

        <div class="single-repair-partner">
          <a href="#">
            <img src="assets/img/partner-img/partner-10.png" alt="image">
            <img src="assets/img/partner-img/partner-hover10.png" alt="image">
          </a>
        </div>

        <div class="single-repair-partner">
          <a href="#">
            <img src="assets/img/partner-img/partner-5.png" alt="image">
            <img src="assets/img/partner-img/partner-hover5.png" alt="image">
          </a>
        </div>

        <div class="single-repair-partner">
          <a href="#">
            <img src="assets/img/partner-img/partner-6.png" alt="image">
            <img src="assets/img/partner-img/partner-hover6.png" alt="image">
          </a>
        </div>

        <div class="single-repair-partner">
          <a href="#">
            <img src="assets/img/partner-img/partner-7.png" alt="image">
            <img src="assets/img/partner-img/partner-hover7.png" alt="image">
          </a>
        </div>
      </div>
  </div>
</div>
<!-- End Repair Partner Area -->
